h1, h1 + p
{
    text-align: center;
}
#mainList 
{
    color: deeppink;
    margin-left: 43%;
}
#subListHtml a, #subListHtml li
{
    color: rgb(218, 179, 24);
}
#subListCss a, #subListCss li 
{
   color: brown; 
}
#subListGit a, #subListGit li 
{
    color: darkblue;
}
#subListLink a, #subListLink li 
{
    color: darkgreen;
}
.codeline
{
    color: white;
    background-color: black;
}